.home-container {
    margin: 0;
    background: url("../images/vikingland.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.nav-container{
    display: flex;
    justify-content: space-between
}

.ark-logo-wrapper {
height: 80px;
width: 80px;
border-radius: 50%;
background: #000;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-family: 'Source Code Pro', monospace;

}

.ark-logo p{
    font-size: 21px;
    font-style: italic;
    height: 100%;
    line-height: 1.25;
    padding: 0;
}

nav {
    color: #fff;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-right:10px;
    padding: 0px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px
}

nav ul li {
    text-align: center;
    padding: 0px 10px;
}
nav ul li:hover {  
    color: blue;  
}

p.title{
    margin-top: 10px;;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
}

.carousel {
    margin-top: 100px;
    height: 120px;
}

.carousel-item p{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.about-container{
    margin-left: 30px;
    margin-right: 30px;
}

div.background {
    margin-bottom: 10px;
}
p.p-tag{
    margin-bottom: 0px;
}

ul { list-style: none; } /* Remove default bullets */

li.goal-list::before {
    content: "\2713"; /* Unicode bullet symbol */
    color: blue;  /* Bullet color */
	
	/* Optional tweaks */
    font-weight: bolder;
    padding-right: 10px;
}

.fewd-container-title{
    text-align: center;
    font-size: 2rem;
    color: #2121aa;
}
.fewd {
    display: flex;
    justify-content: space-around;
    flex-direction: column
}
.fewd-row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    
}

.fewd-row2 {
    display: flex;
    justify-content: space-around;
    
}

.fewd-content {
    margin-right: 20px;
    width: 200px;
}